.Caja{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width:50%;
    margin-left: 25%;
    margin-right: 25%
}
.Tabla{ 
    background-color: lightblue;
}
.Column{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    height: 24.5px;
    
}
.MuiTableCell-body{
    border-collapse: unset !important;
    height: max-content;
}
/* Estilos para filas pares */
.MuiTableRow-root:nth-child(even) {
    background-color: lightyellow;
}

/* Estilos para filas impares */
.MuiTableRow-root:nth-child(odd) {
    background-color: lightblue;
}
/* Efecto hover */
.MuiTableRow-root:hover {
    background-color: #a0a0a0; /* Cambia el color de fondo cuando se pasa el cursor */
    cursor: pointer; /* Cambia el cursor a pointer */
}